<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						{% if key_value[0] == "Line" %}
							<li>
								<a href="{{ key_value[1] }}" class="icon alt line-icon" aria-label="{{ key_value[0] }}">
									<span class="label">{{ key_value[0] }}</span>
								</a>
							</li>
						{% else %}
							<li>
								<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
									<span class="label">{{ key_value[0] }}</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			</ul>
		</div>
	</footer>

<!-- Line Modal -->
<div id="line-modal">
	<div class="inner">
		<div class="line-content">
			<img src="{{ 'assets/images/line.png' | absolute_url }}" alt="Line QR Code" />
		</div>
		<a class="close" href="#line">Close</a>
	</div>
</div>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/main-fixed.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/theme-toggle.js" | absolute_url }}"></script>
