<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo">
		<img src="{{ "" | absolute_url }}/assets/images/logo_transparent.png" alt="{{ site.title }}">
		<span>{{ site.subtitle }}</span>
	</a>
	<nav>
		<button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
			<i class="fa fa-moon-o" aria-hidden="true"></i>
		</button>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ "" | absolute_url }}/">首頁</a></li>
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true and page.title != "All Posts" %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
